@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.itemList {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 1.5rem;
}

.itemDetails{
    padding: 2rem;
}

.header {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #f5ebeb;
    text-shadow: -3px -3px 0 #622521, 1px -1px 0 #622521, -1px 1px 0 #622521, 1px 1px 0 #622521
}

.login {
    font-size: 1rem;
    text-align: center;
    color: #622521;
}

#navBar{
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.nav-items {
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
 }

.nav-items:hover {
    font-weight: 600;
}